
svg circle {
    
    transition: stroke-dashoffset 0s linear;
    stroke: rgb(179, 179, 179);
    stroke-width: 0.2em;

  }
 svg .cbar {
    stroke:rgb(233, 233, 233);
  }

  .cont {
    display: block;
    width:100%;
    margin: 0px;
    border-radius: 100%;
    position: relative;
    
    
  }

  .cont:after {
    position: absolute;
    display: block;
    text-align: center;
    width:100%;

    top:32%;
    color: ghostwhite;
    
    content: attr(data-pct)"\A\A"attr(data-type);
    white-space: pre;
    border-radius: 100%;
    line-height: 1.2vw;
    font-size: 1.2vw;
    font-weight:500;
    text-shadow: 0 0 8px #000000;
   
  }
  

 


